<% title "Qualifications" %>

<% if policy(Qualification).new? %>
  <p><%= link_to 'New Qualification', new_qualification_path %></p>
<% end %>

<% unless @qualifications.empty? %>
  <ul>
    <% @qualifications.each do |qualification| %>
      <li>
        <h3><%= qualification.name %></h3>
        <% if policy(qualification).edit? && policy(qualification).destroy? %>
          <ul class="administration">
            <li><%= link_to 'Edit Qualification', edit_qualification_path(qualification) %></li>
            <li><%= link_to 'Delete Qualification', qualification, confirm: 'Are you sure you want to delete this qualification?', method: :delete %></li>
            <li><% unless qualification.publish %><span class="unpublished">Unpublished</span><% end %></li>
          </ul>
        <% end %>
        <p><%= qualification.education_provider %></p>
        <p><%= qualification.year_completed.to_s %></p>
        <%= raw markdown_to_html qualification.content %>
        <a href="#" class="popover"><%= image_tag qualification.certificate_url(:medium), data: { src: qualification.certificate_url(:large) } %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<%= paginate @qualifications %>
