<%= form_for @job do |f| %>  
  <%= render "shared/error_messages", :target => @job %>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :organisation, "Organisation "%><br />
    <%= f.text_field :organisation %>
  </div>
  <div>
    <%= f.label :month_started, "Month Started" %><br />
    <%= f.text_field :month_started %>
  </div>
  <div>
    <%= f.label :year_started, "Year Started" %><br />
    <%= f.text_field :year_started %>
  </div>
  <div>
    <%= f.label :month_finished, "Month Finished" %><br />
    <%= f.text_field :month_finished %>
  </div>
  <div>
    <%= f.label :year_finished, "Year Finished" %><br />
    <%= f.text_field :year_finished %>
  </div>
  <div>
    <%= f.label :content, "Content" %><br />
    <%= f.text_area :content %>  
  </div>
  <div>
    <%= f.check_box :publish %> <%= f.label :publish, "Publish?" %>
  </div>
  <div>
    <%= f.submit %>  
  </div>
<% end %>