<!DOCTYPE html>
<html>
  <head>
    <title>Chris Alley | <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="overall">
      <%= render 'shared/popover' %>
      <a href="https://github.com/chrisalley/chris-alley">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
      </a>
      <div id="container">
        <header>
          <h1>Chris Alley</h1>
          <% unless @about_page.blank? %>
            <%= raw markdown_to_html @about_page.content %>
          <% end %>
        </header>
        <nav>
          <ul>
  	        <li><%= link_to "Development Portfolio", root_url %></li>
            <li><%= link_to "Experience", jobs_path %></li>
            <li><%= link_to "Qualifications", qualifications_path %></li>
            <% @other_pages.each do |page| %>
              <li><%= link_to page.name, "/#{page.url}" %></li>
            <% end %>  
          </ul>
          <% if current_user %>
            <ul>
  	          <li>Logged in as <%= current_user.email_address %>.</li>
  	          <li><%= link_to "Log Out", log_out_path %></li>
              <li><%= link_to "Pages", pages_path %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
          <% end %>
        </nav>
        <section>
          <h2><%= yield(:title) %></h2>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
          <%= yield %>
        </section>
        <footer>
          <p>Copyright &copy; Chris Alley, <%= Time.now.year %>. <% if User.count == 0 %><%= link_to "Register New User", register_path %>.<% end %></p>
        </footer>
      </div>
    </div>
  </body>
</html>
